Question to focus on
- How many donations have the donors made every year? (2018 to 2021)
- How many charities did the donor support each year? Also, get the total number of charities.
- Does the location of the charity influence the donations? Find correlation of donor and charity location
- Does the number of full-time employees in the charity affect the donations_amount and number of donation received?
- Does presence of a website affect the donations? 
- What kind of charities are more likely to receive donation in kind?

In [1]:
import pandas as pd

In [2]:
donor_df = pd.read_csv('cleanedDonorDetails.csv')

In [3]:
donor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82273 entries, 0 to 82272
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   donation_year                82273 non-null  int64
 1   donor_name                   82273 non-null  object
 2   donor_city                   82164 non-null  object
 3   donor_province               82124 non-null  object
 4   donation_amount              82273 non-null  float64
 5   donation_in_kind             82273 non-null  float64
 6   charity_link                 82273 non-null  object
 7   charity_name                 82273 non-null  object
 8   charity_type                 82273 non-null  object
 9   charity_sub_category         82273 non-null  object
 10  charity_description          82273 non-null  object
 11  charity_registration_number  82273 non-null  object
 12  charity_website              59109 non-null  object
 13  charity_country              82273 non-null  object
 14  charity_province             82273 non-null  object
 15  charity_city                 82273 non-null  object
 16  charity_employee_range       82273 non-null  int64
dtypes: float64(2), int64(2), object(13)
memory usage: 10.7+ MB

In [4]:
donor_df.columns

Index(['donation_year', 'donor_name', 'donor_city', 'donor_province',
       'donation_amount', 'donation_in_kind', 'charity_link', 'charity_name',
       'charity_type', 'charity_sub_category', 'charity_description',
       'charity_registration_number', 'charity_website', 'charity_country',
       'charity_province', 'charity_city', 'charity_employee_range'],
      dtype='object')

How many donations have the donors made every year? (2018 to 2021)

In [5]:
donations_per_year = donor_df.groupby(['donation_year','donor_name'])['donation_amount'].count()

In [6]:
donations_per_year.head()

donation_year  donor_name
2018           "ON EAGLES WINGS" MINISTRIES                         1
               1-R32 Foundation                                     3
               1000 ISLANDS MONTHLY MEETING, SOCIETY OF FRIENDS,    2
               1ST ST JOHN'S LUTHERAN CHURCH                        1
               3545261 Canada Fondation                             1
Name: donation_amount, dtype: int64

In [7]:
donations_per_year[donations_per_year > 5]

donation_year  donor_name
2018           479 Foundation                                                                            8
               AARON AND SUSAN LIEBERMAN FOUNDATION                                                      9
               ABC BENEFITS CORPORATION FOUNDATION                                                      15
               ABRAHAM BLEEMAN FOUNDATION                                                               20
               ABUNDANCE CANADA                                                                         83
                                                                                                        ..
2021           Winnipeg Arts Council Inc.                                                               10
               Y.P.HEUNG FOUNDATION                                                                      7
               YOUTH AND PHILANTHROPY INITIATIVE CANADA/ INITIATIVE CANADA JEUNESSE ET PHILANTHROPIE    10
               ZLC FOUNDATION                                                                           25
               École de Technologie Supérieure                                                          10
Name: donation_amount, Length: 1875, dtype: int64

Total number of donations ever made by a donor

In [8]:
donations_total = donor_df.groupby(['donor_name'])['donation_amount'].count()

In [9]:
donations_total.head()

donor_name
"ON EAGLES WINGS" MINISTRIES                          3
1-R32 Foundation                                     11
1000 ISLANDS MONTHLY MEETING, SOCIETY OF FRIENDS,     8
1ST ST JOHN'S LUTHERAN CHURCH                         4
3545261 Canada Fondation                              1
Name: donation_amount, dtype: int64

If a particular donor has made only one donation in the period of 4 years, then they don't have to considered for potential list of donors. Similarly donors with less than 4 donations don't have to be considered.

In [10]:
def is_same_province(row):
    if row['donor_province'] == row['charity_province']:
        return 1
    else:
        return 0

donor_df['is_same_province'] = donor_df.apply(is_same_province, axis=1)

In [11]:
donor_df.head()

,donation_year,donor_name,donor_city,donor_province,donation_amount,donation_in_kind,charity_link,charity_name,charity_type,charity_sub_category,charity_description,charity_registration_number,charity_website,charity_country,charity_province,charity_city,charity_employee_range,is_same_province
0,2019,THE MACDONALD STEWART FOUNDATION - LA FONDATIO...,MONTREAL,QC,14000.0,0.0,https://www.charitydata.ca/charity/78th-fraser...,78TH FRASER HIGHLANDERS - FORT VICTORIA HISTOR...,Advancement of Education,Educational organizations not elsewhere catego...,Charitable Organization,845496207RR0001,WWW.78FRASERVICTORIA.CA,CA,BC,SIDNEY,0,0
1,2018,THE MACDONALD STEWART FOUNDATION - LA FONDATIO...,MONTREAL,QC,5000.0,0.0,https://www.charitydata.ca/charity/78th-fraser...,78TH FRASER HIGHLANDERS - FORT VICTORIA HISTOR...,Advancement of Education,Educational organizations not elsewhere catego...,Charitable Organization,845496207RR0001,WWW.78FRASERVICTORIA.CA,CA,BC,SIDNEY,0,0
2,2021,CANADAHELPS CANADON,TORONTO,ON,7286.0,0.0,https://www.charitydata.ca/charity/a-company-o...,A COMPANY OF FOOLS THEATRE INC,Advancement of Education,Education in the arts / Theatre / film / drama...,Charitable Organization,879738623RR0001,WWW.FOOLS.CA,CA,ON,OTTAWA,0,1
3,2021,KIND CANADA GÉNÉREUX,OTTAWA,ON,500.0,0.0,https://www.charitydata.ca/charity/a-company-o...,A COMPANY OF FOOLS THEATRE INC,Advancement of Education,Education in the arts / Theatre / film / drama...,Charitable Organization,879738623RR0001,WWW.FOOLS.CA,CA,ON,OTTAWA,0,1
4,2021,UNITED WAY EAST ONTARIO / CENTRAIDE EST DE L'O...,OTTAWA,ON,360.0,0.0,https://www.charitydata.ca/charity/a-company-o...,A COMPANY OF FOOLS THEATRE INC,Advancement of Education,Education in the arts / Theatre / film / drama...,Charitable Organization,879738623RR0001,WWW.FOOLS.CA,CA,ON,OTTAWA,0,1

In [12]:
donor_df['is_same_province'].value_counts()

1    56233
0    26040
Name: is_same_province, dtype: int64

Get the list of unique donors with the total number of donations they have made, donations per year, donations for each sub category, count of donations for charities in different provinces, average amount spent on donations, minimum donation_amount, maximum donation_amount, city, province, donated to charity with employee range

In [13]:
donor_stats = donor_df.groupby(['donor_name','donor_province', 'donor_city']).agg({
    'donation_amount': ['count', 'sum', 'mean', 'min', 'max'],
    'donation_year': lambda x: x.value_counts().to_dict(),
    'charity_name': lambda x: x.value_counts().to_dict(),
    # 'charity_sub_category': lambda x: x.value_counts().to_dict(),
    'charity_sub_category': lambda x: x.mode()[0],
    'charity_province': lambda x: x.value_counts().to_dict(),
    'charity_city': lambda x: x.value_counts().to_dict(),
    'charity_employee_range':  lambda x: x.mode()[0],
})

In [14]:
# Rename the columns 
donor_stats.columns = ['total_donations', 'total_donation_amount', 'avg_donation_amount',
                       'min_donation_amount', 'max_donation_amount', 
                       'total_donation_years', 'charities_supported',
                       'frequent_sub_category', 
                       'donations_per_province', 'donations_per_city',
                       'donations_per_employee_range']

# Reset the index 
donor_stats = donor_stats.reset_index()

In [15]:
donor_stats['donation_consistency'] = donor_stats['total_donation_years'].apply(lambda x: len(x))

In [20]:
donor_stats.tail()

,donor_name,donor_province,donor_city,total_donations,donations_per_employee_range,donation_consistency
8524,Église la Citadelle / The Citadel Church,QC,MONTREAL,1,2,1
8525,Église le Phare,QC,SOREL-TRACY,4,2,4
8526,Église le contact / Contact Church,QC,REPENTIGNY,3,2,3
8527,Église westside gathering/ Westside gathering ...,QC,POINTE-CLAIRE,2,5,2
8528,Église Évangélique de Chicoutimi,QC,SAGUENAY,4,4,4

In [17]:
donor_stats['frequent_sub_category'] = donor_stats['frequent_sub_category'].apply(lambda x: x.split(' /')[0].strip())

In [ ]:
donor_stats['frequent_sub_category'].unique()

array(['Teaching Institutions', 'Foundations Advancing Education',
       'Support of schools and education',
       'Educational organizations not elsewhere categorized',
       'Education in the arts', 'Research'], dtype=object)

In [18]:
donor_stats.columns

Index(['donor_name', 'donor_province', 'donor_city', 'total_donations',
       'total_donation_amount', 'avg_donation_amount', 'min_donation_amount',
       'max_donation_amount', 'total_donation_years', 'charities_supported',
       'frequent_sub_category', 'donations_per_province', 'donations_per_city',
       'donations_per_employee_range', 'donation_consistency'],
      dtype='object')

In [19]:
donor_stats = donor_stats[['donor_name', 'donor_province', 'donor_city', 'total_donations',
        'donations_per_employee_range', 'donation_consistency']]

In [21]:
import json

In [22]:
data = donor_stats.to_dict(orient='records')

# write the data to a file
with open('donor_data.json', 'w') as f:
    json.dump(data, f)